<nav class="navbar-expand-lg navbar navbar-dark" id="barra-navegacao">
    <a href="/">
      <img src="https://www.cimol.g12.br/images/logo-colorful.svg" alt="logo cimol" srcset="">  
    </a>
    
</nav>