<%-include ('partials/header.ejs') %> 
<body>
    <%-include ('partials/homenavbar.ejs') %>

    <div class="container mt-5">

        <div class="row centered ">
            <div class="cards col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h4 class="card-title">Avaliações</h4>
                      <p class="card-text">Consulte e também gere novas avaliações!</p>
                      <a class="btn btn-success"href="">Acessar!</a>
                    </div>
                  </div>
            </div>
    
            <div class="cards col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h4 class="card-title">Cadastros</h4>
                      <p class="card-text">Cadastre novas categorias e perguntas!</p>
                      <a class="btn btn-success"href="">Acessar!</a>
                    </div>
                  </div>
            </div>
    
            <div class="cards col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h4 class="card-title">Administrador</h4>
                      <p class="card-text">Cadastre novos administradores e professores!</p>
                      <a class="btn btn-success"href="/admin">Acessar!</a>
                    </div>
                  </div>
            </div>

        </div>

    </div>

</body>
</html>