<%-include ('../partials/header.ejs') %> 
<body>
    <%-include ('../partials/homenavbar.ejs') %>

    <div class="container mt-5">

        <div class="row centered ">

            <div class="cards col-4">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                      <h4 class="card-title">Categorias</h4>
                      <p class="card-text">Administre as categorias para as perguntas!</p>
                      <a class="btn btn-success"href="/professor/categorias">Acessar!</a>
                    </div>
                  </div>
            </div>

            <div class="cards col-4">
              <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <h4 class="card-title">Perguntas</h4>
                    <p class="card-text">Administre as perguntas para as avaliações! </p>
                    <a class="btn btn-success"href="/professor/perguntas">Acessar!</a>
                  </div>
                </div>
          </div>
    
        </div>

    </div>

</body>
</html>