<%-include ('../../partials/header.ejs') %> 
<body>
    <%-include ('../../partials/homenavbar.ejs') %>

    <div class="container">
        <hr>
        <div class="card">

            <div class="card-header">
                <h2>Cadastro de matérias!</h2>
            </div>

            <div class="card-body">
                <br>
                <form method="post" action="/admin/materias/cadastrando">
                <input class="form-control"type="text" name="name" placeholder="Nome da matéria" required>
                <br>
                <label for="teacher">Professor</label>
                    <select class="form-select" name="teacher" id="teacher">
                        <% teachers.forEach((teacher) => { %>
                            <option value="<%= teacher.idTeacher %>"><%= teacher.nameTeacher %></option>
                        <% }) %>
                    </select>
                <br>
                <button class="btn btn-success">Cadastrar</button>
                </form>
            </div>

        </div>

    </div>
</body>
</html>