<%-include ('../partials/header.ejs') %> 
<body>
    <%-include ('../partials/homenavbar.ejs') %>

    <div class="container mt-5">

      <div class="jumbotron text-center text-primary">
        <h1><span class="fa fa-lock"></span> Faça login para continuar!</h1>
        <br>
        <a href="/logar" class="btn btn-danger"><span class="fa fa-google"></span> Fazer login com Google</a>
    </div>

    </div>

</body>
</html>