<%-include ('../../partials/header.ejs') %> 
<body>
    <%-include ('../../partials/homenavbar.ejs') %>

    <div class="container">
        <hr>
        <h1>Avaliações</h1>
        <a href="/professor/avaliacao/cadastrar" class="btn btn-success">Criar nova avaliação</a>
        <hr>

        <table class="table table-striped">
            
            <thead>
                <tr>
                    <th>Matéria</th>
                    <th>Data da geração</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>

            </tbody>
            

        </table>
    </div>

</body>

</html>